00 23 * * * /srv/data-coven/shell/run_coffee_daily_summary.sh >> /srv/data-coven/src/logs/coffee_daily_summary_cron.log 2>&1
00 17 * * * /srv/data-coven/shell/run_exchange_rates_query.sh >> /srv/data-coven/src/logs/exchange_rates_query_cron.log 2>&1
